@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
button {
  width: 200px;
  height: 57px;
  background: #B57556;
  color: #fff;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
  border-radius: 50px;
  padding: 16px 20px;
  border: 0;
  cursor: pointer;
}

body {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    width: 768px;
  }
}
@media (max-width: 414px) {
  .wrapper {
    width: 414px;
  }
}
.wrapper header {
  text-align: center;
  background-image: url(../img/white_bg.png);
  background-repeat: no-repeat;
  background-position-y: 35px;
  background-color: #204379;
  padding-bottom: 40px;
  padding-top: 60px;
  font-size: 0;
}
.wrapper header h1 {
  font-size: 32px;
  color: #fff;
  letter-spacing: 0.2em;
  line-height: 125%;
}
.wrapper header h2 {
  font-size: 28px;
  color: #fff;
  letter-spacing: 0.2em;
  line-height: 125%;
}
.wrapper header a {
  margin: 32px auto;
  display: block;
  text-decoration: none;
  width: 200px;
  line-height: 57px;
  background: #B57556;
  color: #fff;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 18px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.wrapper header a::before {
  content: "";
  background: #B57556;
  width: 200px;
  height: 57px;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.wrapper header a::after {
  content: "";
  background: linear-gradient(124deg, #efdbc8, #e9c87f, #b2e1ea, #90cae5, #f5caf4, #dfc9f9);
  background-size: auto;
  background-size: 400%;
  width: 210px;
  height: 67px;
  border-radius: 50px;
  filter: blur(5px);
  opacity: 1;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: -2;
  transition: all 0.3s ease-in-out;
  animation: move 20s linear infinite;
}
.wrapper header section {
  width: 808px;
  margin: 0 auto;
  padding: 24px 16px;
  position: relative;
  background: #DAE4F1;
  border: 2px solid #B57556;
  border-radius: 20px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .wrapper header section {
    width: 720px;
  }
}
@media (max-width: 414px) {
  .wrapper header section {
    width: 366px;
  }
}
.wrapper header section .sup {
  position: absolute;
  top: -30px;
  right: 0;
}
.wrapper header section .oar {
  position: absolute;
  top: -20px;
  right: 0;
  animation: oar 1s linear infinite;
}
.wrapper header section .bubble {
  position: absolute;
  top: -30px;
  right: 70px;
  animation: bubble 2s linear infinite;
  z-index: 1;
}
.wrapper header section .bubble2 {
  position: absolute;
  top: -10px;
  right: 80px;
  animation: bubble2 2s linear infinite;
  z-index: 1;
}
.wrapper header section .sup2 {
  position: absolute;
  bottom: -40px;
  left: 20px;
}
.wrapper header section .fireworks {
  position: absolute;
  bottom: -55px;
  left: -10px;
  z-index: 1;
  animation: fireworks 2s linear infinite;
}
.wrapper header section article {
  width: 776px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper header section article {
    width: 688px;
  }
}
@media (max-width: 414px) {
  .wrapper header section article {
    width: 334px;
  }
}
.wrapper header section article:last-of-type {
  padding-top: 24px;
}
@media (max-width: 414px) {
  .wrapper header section article:last-of-type {
    padding-top: 16px;
  }
}
.wrapper header section article h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 16px;
}
.wrapper header section article h3::before {
  content: url(../img/cactus.png);
  position: relative;
  top: 10px;
  left: -5px;
}
.wrapper header section article h3::after {
  content: url(../img/cactus.png);
  position: relative;
  top: 10px;
}
.wrapper header section article p {
  font-size: 16px;
  line-height: 140%;
  text-align: left;
  color: #204379;
}
.wrapper .wave {
  font-size: 0;
  height: 106.5px;
  overflow: hidden;
}
.wrapper .wave .i_wave {
  display: block;
  animation: waves 3s linear infinite;
  position: relative;
  top: -2px;
}
.wrapper form {
  background-color: #E2D9D3;
  position: relative;
}
.wrapper form .form_title {
  width: 127px;
  margin: 0 auto;
  position: relative;
}
.wrapper form .form_title h3 {
  width: 123px;
  margin: 0 auto;
  border: 2px solid #B57556;
  box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.2em;
  color: #B57556;
  background-color: #fff;
  line-height: 43px;
  position: relative;
  top: 104px;
  box-sizing: border-box;
}
.wrapper form .form_title .turtle {
  position: absolute;
  right: 0;
  top: 70px;
  transform: rotateZ(-30deg);
  z-index: 1;
  animation: turtle 10s linear infinite;
}
.wrapper form .content {
  border: 1px solid green;
  width: 808px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 20px;
  border: 2px solid #B57556;
  box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
  border-radius: 16px;
  margin-top: 80px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .wrapper form .content {
    width: 720px;
  }
}
@media (max-width: 414px) {
  .wrapper form .content {
    width: 366px;
  }
}
.wrapper form .content label {
  position: relative;
}
.wrapper form .content label .i_store {
  position: absolute;
  top: 3px;
  left: 40px;
}
.wrapper form .content label .i_name {
  position: absolute;
  top: 3px;
  left: 45px;
}
.wrapper form .content label .i_phone {
  position: absolute;
  top: 3px;
  left: 50px;
}
.wrapper form .content label .i_aoc {
  position: absolute;
  top: 3px;
  left: 185px;
}
.wrapper form .content label .i_payment {
  position: absolute;
  top: 3px;
  left: 70px;
}
.wrapper form .content input {
  width: 768px;
  height: 57px;
  padding: 8px 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid #204379;
  border-radius: 20px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .wrapper form .content input {
    width: 680px;
  }
}
@media (max-width: 414px) {
  .wrapper form .content input {
    width: 326px;
  }
}
.wrapper form .content input:focus {
  outline: none;
}
.wrapper form .content .-error {
  border: 1px solid #E06D6D;
}
.wrapper form .content .pay_input {
  margin-bottom: 0;
}
.wrapper form .content span {
  font-size: 12px;
  color: #E06D6D;
  font-weight: 400;
  line-height: 140%;
}
.wrapper form .btn_box {
  display: flex;
  justify-content: center;
}
.wrapper form button {
  margin-top: 40px;
  margin-bottom: 58px;
  box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35), 0px -4px 10px rgba(255, 255, 255, 0.9);
  animation: btn 1s linear infinite;
  outline: none;
}
.wrapper form button:active {
  background-color: #D3A995;
}
.wrapper form #successBtn {
  color: #E6FFB1;
  display: none;
}
.wrapper form #successBtn span {
  position: relative;
  top: -6px;
}
.wrapper form #failureBtn {
  color: #FFE3E3;
  display: none;
}
.wrapper form #failureBtn span {
  position: relative;
  top: -6px;
}
.wrapper .raffle {
  display: flex;
  justify-content: center;
  background-image: url(../img/bg2.png);
  background-color: #E2D9D3;
}
.wrapper .raffle ul {
  display: flex;
  width: 598px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 10px;
}
@media (max-width: 414px) {
  .wrapper .raffle ul {
    width: 372px;
  }
}
.wrapper .raffle ul li {
  width: 178px;
  height: 108px;
  background: #FFFFFF;
  box-shadow: 0px 8px 0px #EDEEF0;
  border-radius: 20px;
  position: relative;
  margin-top: 50px;
  text-align: center;
}
.wrapper .raffle ul li:nth-child(2) {
  margin-right: 32px;
  margin-left: 32px;
}
@media (max-width: 414px) {
  .wrapper .raffle ul li:nth-child(2) {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.wrapper .raffle ul li:nth-child(5) {
  margin-right: 32px;
  margin-left: 32px;
}
@media (max-width: 414px) {
  .wrapper .raffle ul li:nth-child(5) {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.wrapper .raffle ul li:nth-child(8) {
  margin-right: 32px;
  margin-left: 32px;
}
@media (max-width: 414px) {
  .wrapper .raffle ul li:nth-child(8) {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 414px) {
  .wrapper .raffle ul li:nth-child(2n+1) {
    margin-right: 16px;
  }
}
.wrapper .raffle ul li img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .raffle ul li span {
  color: #fff;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .raffle ul li h3 {
  color: #B3B960;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  margin-top: 60px;
}
.wrapper .raffle ul li p {
  font-size: 12px;
  width: 45px;
  line-height: 23px;
  background: #FAFAFA;
  border: 1px solid #B3B960;
  color: #B3B960;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 120px;
}
.wrapper .raffle ul .blue_li p {
  color: #A0BCC8;
}
.wrapper .raffle ul .blue_li h3 {
  color: #A0BCC8;
}
.wrapper .lighthouse {
  background-color: #E2D9D3;
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
}
.wrapper .lighthouse .text {
  width: 274px;
  margin: 0 auto;
  height: 84px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  position: relative;
}
.wrapper .lighthouse .text::before {
  content: "";
  border-left: 1px solid #204379;
  width: 20px;
  height: 75px;
  position: absolute;
  top: 10px;
  left: 0;
  transform: rotateZ(-15deg);
}
.wrapper .lighthouse .text::after {
  content: "";
  border-left: 1px solid #204379;
  width: 20px;
  height: 75px;
  position: absolute;
  top: 16px;
  left: 273px;
  transform: rotateZ(15deg);
}
.wrapper .lighthouse .text h3 {
  color: #B57556;
}
.wrapper .lighthouse .text p {
  color: #204379;
}
.wrapper .lighthouse img {
  margin-bottom: 40px;
}
.wrapper footer {
  background-color: #E2D9D3;
  text-align: center;
}
.wrapper footer .footer_content {
  background-color: #204379;
  border-radius: 50px 50px 0px 0px;
}
.wrapper footer .footer_content h3 {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2em;
}
.wrapper footer .footer_content h3:first-child {
  padding-top: 40px;
}
.wrapper footer .footer_content h3:last-of-type {
  padding-bottom: 24px;
}
.wrapper footer .footer_content img {
  margin-bottom: 40px;
}

@keyframes waves {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-130px);
  }
}
@keyframes oar {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: rotateZ(45deg);
  }
}
@keyframes bubble {
  0% {
    top: -10px;
    right: 70px;
  }
  25% {
    top: -30px;
    right: 72px;
  }
  50% {
    top: -40px;
    right: 75px;
  }
  75% {
    top: -50px;
    right: 70px;
  }
  100% {
    top: -60px;
    right: 75px;
  }
}
@keyframes bubble2 {
  0% {
    top: -10px;
    right: 52px;
  }
  25% {
    top: -30px;
    right: 50px;
  }
  50% {
    top: -50px;
    right: 45px;
  }
  75% {
    top: -70px;
    right: 60px;
  }
  100% {
    top: -90px;
    right: 50px;
  }
}
@keyframes fireworks {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes turtle {
  0% {
    right: 0;
  }
  10% {
    right: 97px;
  }
  20% {
    transform: rotateZ(-50deg);
    top: 70px;
  }
  25% {
    transform: rotateZ(-100deg);
    top: 75px;
  }
  30% {
    top: 80px;
  }
  40% {
    top: 130px;
  }
  45% {
    transform: rotateZ(-150deg);
  }
  50% {
    transform: rotateZ(-200deg);
    right: 77px;
  }
  55% {
    right: 27px;
  }
  60% {
    right: -33px;
  }
  65% {
    transform: rotateZ(-250deg);
  }
  70% {
    transform: rotateZ(-300deg);
  }
  72% {
    top: 100px;
  }
  75% {
    top: 80px;
  }
  80% {
    top: 70px;
  }
  85% {
    transform: rotateZ(-330deg);
  }
  90% {
    transform: rotateZ(-350deg);
  }
  95% {
    transform: rotateZ(-370deg);
  }
  100% {
    transform: rotateZ(-390deg);
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes btn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}

/*# sourceMappingURL=style.css.map */
