<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <!-- 記得放vue的cdn 還不確定版本 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    
</head>
<body>

    <div class="wrapper">
        <header id="scrollForm">
            <h1>There is no one</h1>
            <h2>who loves pain</h2>
            <!-- <button @click="test">FORM</button> --> 
            <a href="#myForm" @click="scroll">FORM</a>
            <section>
                <img src="./img/sup.png" class="sup" alt="">
                <img src="./img/oar.png" class="oar" alt="">
                <img src="./img/bubble.png" class="bubble" alt="">
                <img src="./img/bubble2.png" class="bubble2" alt="">
                <article>
                    <h3>paragraph</h3>
                    <p>1.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </article>
                <article>
                    <h3>paragraph</h3>
                    <p>1.Quisque sodales leo vitae vulputate auctor.</p>
                    <p>2.Proin ac justo ut nisl tincidunt imperdiet.Maecenas viverra libero a pellentesque blandit.</p>
                    <p>3.Cras tristique tellus id leo bibendum, eu dapibus nisl accumsan.</p>
                    <p>4.Donec ultrices sapien vitae leo venenatis ullamcorper.</p>
                </article>
                <img src="./img/sup2.png" class="sup2" alt="">
                <img src="./img/fireworks.png" class="fireworks" alt="">
            </section>
        </header>

        <div class="wave">
            <img src="./img/wave.png" class="i_wave" alt="">
        </div>

        <form action="#" id="myForm">
            <!-- <h3>FORM</h3>
            <img class="turtle" src="./img/turtle.png" alt=""> -->
            <div class="form_title">
                <h3>FORM</h3>
                <img class="turtle" src="./img/turtle.png" alt="">
            </div>            

            <div class="content">
                <label>store<br>
                    <img class="i_store" src="./img/star.png" alt="星星">
                    <input id="storeInput" list="store" placeholder="placeholder text">
                    <br>
                    <span class="errorMessage"></span>
                </label>
                <datalist id="store">
                    <!-- <option value="" v-for="store in stores" :value="store.value">
                        {{store.name}}
                    </option> -->
                    <option value="store1"></option>
                    <option value="store2"></option>
                    <option value="store3"></option>
                </datalist><br>
                
                <label>name<br>
                    <img class="i_name" src="./img/star.png" alt="星星">
                    <input id="userName" type="text" placeholder="placeholder text">
                    <br>
                    <span class="errorMessage"></span>
                </label><br>
    
                <label>phone<br>
                    <img class="i_phone" src="./img/star.png" alt="星星">
                    <input id="userPhone" type="text" placeholder="placeholder text" v-model="userPhone">
                    <br>
                    <span class="errorMessage"></span>
                </label><br>
                
                <label>Amount of consumption<br>
                    <img class="i_aoc" src="./img/star.png" alt="星星">
                    <input id="userPayMoney" type="text" placeholder="placeholder text">
                    <br>
                    <span class="errorMessage"></span>
                </label><br>
                
                <label>payment<br>
                    <img class="i_payment" src="./img/star.png" alt="星星">
                    <input id="payment" class="pay_input" list="pay" placeholder="placeholder text">
                    <br>
                    <span class="errorMessage"></span>
                </label><br>
                <datalist id="pay">
                    <option value="digital payment"></option>
                    <option value="ATM"></option>
                </datalist>
            </div>
            <div class="btn_box">
                <button id="submitBtn" class="btn" type="submit">submit</button>
                
                <button id="successBtn" class="btn" type="button">
                    <img src="./img/success.png" alt="">
                    <span>success</span>
                </button>

                <button id="failureBtn" class="btn" type="button">
                    <img src="./img/failure.png" alt="">
                    <span>failure</span>
                </button>
            </div>

        </form>

        <div class="raffle">
            <!-- <img src="./img/bg1.png" alt=""> -->
            <ul>
                <li>
                    <img src="./img/certificateA.png" alt="">
                    <span>A</span>
                    <h3>dehumidifier</h3>
                    <p>ONE</p>
                </li>
                <li>
                    <img src="./img/certificateA.png" alt="">
                    <span>B</span>
                    <h3>range hood</h3>
                    <p>ONE</p>
                </li>
                <li>
                    <img src="./img/certificateA.png" alt="">
                    <span>C</span>
                    <h3>vacuum cleaner</h3>
                    <p>ONE</p>
                </li>
                <li class="blue_li">
                    <img src="./img/certificateD.png" alt="">
                    <span>D</span>
                    <h3>toaster</h3>
                    <p>ONE</p>
                </li>
                <li class="blue_li">
                    <img src="./img/certificateD.png" alt="">
                    <span>E</span>
                    <h3>scale</h3>
                    <p>ONE</p>
                </li>
                <li class="blue_li">
                    <img src="./img/certificateD.png" alt="">
                    <span>F</span>
                    <h3>straightening iron</h3>
                    <p>ONE</p>
                </li>
                <li class="blue_li">
                    <img src="./img/certificateD.png" alt="">
                    <span>G</span>
                    <h3>vacuum cleaner</h3>
                    <p>FIVE</p>
                </li>
                <li class="blue_li">
                    <img src="./img/certificateD.png" alt="">
                    <span>H</span>
                    <h3>rice cooker</h3>
                    <p>TEN</p>
                </li>
            </ul>
        </div>

        <!-- 燈塔 -->
        <div class="lighthouse">
            <div class="text">
                <h3>13.32</h3>
                <p>who seeks after it and</p>
                <p> wants to have it</p>
            </div>
            <img src="./img/lighthouse.png" alt="">
        </div>

        <footer>
            <div class="footer_content">
                <h3>Neque porro quisquam</h3>
                <h3>est qui dolorem!</h3>
                
                <img src="./img/market.png" alt="">
            </div>
        </footer>

    </div>

    <script src="./js/index.js"></script>
</body>
</html>