@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

@mixin middle {
    @media(max-width:768px){
        @content
    }
};

@mixin small {
    @media(max-width:414px){
        @content
    }
}

button{
    width: 200px;
    height: 57px;
    background: #B57556;
    color: #fff;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 18px;

    box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
    border-radius: 50px;
    padding: 16px 20px;
    border: 0;

    cursor: pointer;

}

body{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    box-sizing: border-box;
}

.wrapper{
    width: 1400px;
    margin: 0 auto;
    // border: 1px solid #000;
    

    @include middle{
        width: 768px;
    }

    @include small{
        width: 414px;
    }

    header{
        // border: 1px solid red;
        text-align: center;
        background-image: url(../img/white_bg.png);
        background-repeat: no-repeat;
        // background-size: cover;
        background-position-y: 35px;
        background-color: #204379;
        padding-bottom: 40px;
        padding-top: 60px;
        font-size: 0;
        // display: flex;
        // flex-direction: row;
        // align-items: center;

        h1{
            font-size: 32px;
            color: #fff;
            letter-spacing: 0.2em;
            line-height: 125%;

        }
        h2{
            font-size: 28px;
            color: #fff;
            letter-spacing: 0.2em;
            line-height: 125%;
        }
        a{
            margin: 32px auto;
            display: block;
            text-decoration: none;
            width: 200px;
            line-height: 57px;
            background: #B57556;
            color: #fff;
            letter-spacing: 0.2em;
            font-weight: 700;
            font-size: 18px;
            // box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
            border-radius: 50px;
            // padding: 16px 20px;
            border: 0;
            cursor: pointer;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease;

            &::before{
                content: "";
                background: #B57556;
                width: 200px;
                height: 57px;
                border-radius: 50px;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }
            &::after{
                content: "";
                background: linear-gradient(124deg,#efdbc8, #e9c87f, #b2e1ea, #90cae5, 
                            #f5caf4, #dfc9f9);
                background-size: auto;
                background-size: 400%;
                width: calc(200px + 10px);
                height: calc(57px + 10px);
                border-radius: 50px;
                filter: blur(5px);
                opacity: 1;
                position: absolute;
                left: -4px;
                top: -4px;
                z-index: -2;
                transition: all 0.3s ease-in-out;
                animation: move 20s linear infinite;
            }
            // &:hover:after{ 
            //     opacity: 1; 
            // }
        }

        section{
            width: 808px;
            // height: 322px;
            margin: 0 auto;
            padding: 24px 16px;
            position: relative;
            background: #DAE4F1;
            border: 2px solid #B57556;
            border-radius: 20px;
            box-sizing: border-box;

            @include middle{
                width: 720px;
            }

            @include small{
                width: 366px;
            }

            .sup{
                position: absolute;
                top: -30px;
                right: 0;
            }

            .oar{
                position: absolute;
                top: -20px;
                right: 0;
                // transform: rotateZ(40deg);
                animation: oar 1s linear infinite;
            }

            .bubble{
                position: absolute;
                top: -30px;
                right: 70px;
                animation: bubble 2s linear infinite;
                z-index: 1;
            }

            .bubble2{
                position: absolute;
                top: -10px;
                right: 80px;
                animation: bubble2 2s linear infinite;
                // animation-delay: 2s;
                z-index: 1;
            }

            .sup2{
                position: absolute;
                bottom: -40px;
                left: 20px;
            }

            .fireworks{
                position: absolute;
                bottom: -55px;
                left: -10px;
                // transform: scale(1.5);
                z-index: 1;
                animation: fireworks 2s linear infinite;
            }

            article{
                width: 776px;
                margin: 0 auto;
                // padding: 24px 16px;
                @include middle{
                    width: 688px;
                }

                @include small{
                    width: 334px;
                }

                &:last-of-type{
                    padding-top: 24px;

                    @include small{
                        padding-top: 16px;
                    }
                }

                h3{
                    // border: 1px solid;
                    display: inline-block;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 125%;
                    margin-bottom: 16px;

                    &::before{
                        content: url(../img/cactus.png);
                        position: relative;
                        top: 10px;
                        left: -5px;
                    }

                    &::after{
                        content: url(../img/cactus.png);
                        position: relative;
                        top: 10px;
                    }
                }

                p{
                    font-size: 16px;
                    line-height: 140%;
                    text-align: left;
                    color: #204379;
                }
            }
        }
    }

    .wave{
        font-size: 0;
        // width: 100%;
        height: 106.5px;
        overflow: hidden;

        .i_wave{
            display: block;
            animation: waves 3s linear infinite;
            position: relative;
            top: -2px;
        }
    }

    form{
        background-color: #E2D9D3;
        position: relative;
        
        .form_title{
            width: 127px;
            margin: 0 auto;
            position: relative;

            h3{
                width: 123px;
                margin: 0 auto;
                border: 2px solid #B57556;
                box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
                border-radius: 50px;
                font-weight: 700;
                font-size: 18px;
                line-height: 125%;
                text-align: center;
                letter-spacing: 0.2em;
                color: #B57556;
                background-color: #fff;
                line-height: 43px;
                position: relative;
                // left: 613px;
                top: 104px;
                box-sizing: border-box;
    
                @include middle{
                    
                }
            }
            
            .turtle{
                position: absolute;
                // left: 677px;
                // left: 700px;
                right: 0;
                top: 70px;
                transform: rotateZ(-30deg);
                z-index: 1;
                // top: 130px;
                // right: 107px;
                animation: turtle 10s linear infinite;
                // left: 570px;
                // top: 140px;
                // transform: rotateZ(-100deg);
                // transform: rotateZ(-200deg);
                // transform: rotateZ(-300deg);
                // transform: rotateZ(-390deg);
            }
        }
        
        .content{
            border: 1px solid green;
            width: 808px;
            margin: 0 auto;
            background-color: #fff;
            padding: 40px 20px;
            border: 2px solid #B57556;
            box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
            border-radius: 16px;
            margin-top: 80px;
            box-sizing: border-box;

            @include middle{
                width: 720px;
            }

            @include small{
                width: 366px;
            }

            label{
                position: relative;

                .i_store{
                    position: absolute;
                    top: 3px;
                    left: 40px;
                }
                .i_name{
                    position: absolute;
                    top: 3px;
                    left: 45px;
                }
                .i_phone{
                    position: absolute;
                    top: 3px;
                    left: 50px;
                }
                .i_aoc{
                    position: absolute;
                    top: 3px;
                    left: 185px;
                }
                .i_payment{
                    position: absolute;
                    top: 3px;
                    left: 70px;
                }
            }

            input{
                width: 768px;
                height: 57px;
                padding: 8px 16px;
                margin-top: 4px;
                margin-bottom: 4px;
                border: 1px solid #204379;
                border-radius: 20px;
                box-sizing: border-box;

                @include middle{
                    width: 680px;
                }

                @include small{
                    width: 326px;
                }

                // 沒效
                // &:last-of-type{
                //     margin-bottom: 0;
                // }
                
                &:focus{
                    outline: none;
                    // border: 1px solid #93BBF9;
                }

            }

            .-error{
                border: 1px solid #E06D6D; 
            }

            .pay_input{
                    margin-bottom: 0;
            }

            span{
                // border: 1px solid red;
                font-size: 12px;
                color: #E06D6D;
                font-weight: 400;
                line-height: 140%;
            }
        }

        .btn_box{
            display: flex;
            justify-content: center;
        }

        button{
            margin-top: 40px;
            margin-bottom: 58px;
            box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35), 0px -4px 10px rgba(255, 255, 255, 0.9);
            // position: relative;
            // left: 50%;
            // transform: translateX(-50%);
            // transform: scale(1.1);
            animation: btn 1s linear infinite;
            outline: none;

            &:active{
                background-color: #D3A995;
            
            }
        }

        #successBtn{
            // line-height: 57px;
            color: #E6FFB1;
            display: none;
            
            span{
                // border: 1px solid red;
                position: relative;
                top: -6px;
            }
        }

        #failureBtn{
            // line-height: 57px;
            color: #FFE3E3;
            display: none;

            span{
                // border: 1px solid red;
                position: relative;
                top: -6px;
            }
        }

    }

    .raffle{
        // border: 1px solid orangered;
        display: flex;
        justify-content: center;
        background-image: url(../img/bg2.png);
        background-color: #E2D9D3;


        ul{
            // border: 1px solid slateblue;
            display: flex;
            width: 598px;
            flex-wrap: wrap;
            margin-bottom: 40px;
            margin-top: 10px;

            @include small{
                width: 372px;
            }

            li{
                // border: 1px solid red;
                width: 178px;
                height: 108px;
                background: #FFFFFF;
                box-shadow: 0px 8px 0px #EDEEF0;
                border-radius: 20px;
                position: relative;
                margin-top: 50px;
                text-align: center;

                &:nth-child(2){
                    // margin: 0 32px;
                    margin-right: 32px;
                    margin-left: 32px;  

                    @include small{
                        margin-right: 0px;
                        margin-left: 0px; 
                    }
                }

                &:nth-child(5){
                    // margin: 0 32px;
                    margin-right: 32px;
                    margin-left: 32px;

                    @include small{
                        margin-right: 0px;
                        margin-left: 0px; 
                    }
                }

                &:nth-child(8){
                    // margin: 0 32px;
                    margin-right: 32px;
                    margin-left: 32px;

                    @include small{
                        margin-right: 0px;
                        margin-left: 0px; 
                    }
                }

                @include small{
                    &:nth-child(2n+1){
                        margin-right: 16px;
                    }
                }

                img{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                span{
                    color: #fff;
                    position: absolute;
                    top: -3px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                h3{
                    color: #B3B960;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 125%;
                    margin-top: 60px;

                }
                p{
                    font-size: 12px;
                    width: 45px;
                    line-height: 23px;
                    background: #FAFAFA;
                    border: 1px solid #B3B960;
                    color: #B3B960;
                    border-radius: 50px;
                    position: absolute;
                    top: 10px;
                    left: 120px;

                }
            }

            .blue_li{
                p{
                    color: #A0BCC8;
                }
                h3{
                    color: #A0BCC8;
                }
            }
        }
    }

    .lighthouse{
        background-color: #E2D9D3;
        text-align: center;
        font-size: 20px;
        padding-top: 40px;

        .text{
            // border: 1px solid;
            width: 274px;
            margin: 0 auto;
            height: 84px;

            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            margin-bottom: 20px;
            // border-left: 1px solid #204379;
            position: relative;
            
            &::before{
                content: "";
                border-left: 1px solid #204379;
                width: 20px;
                height: 75px;
                position: absolute;
                top: 10px;
                left: 0;
                transform: rotateZ(-15deg);
            }

            &::after{
                content: "";
                border-left: 1px solid #204379;
                width: 20px;
                height: 75px;
                position: absolute;
                top: 16px;
                left: 273px;
                transform: rotateZ(15deg);
            }

            h3{
                color: #B57556;
            }
    
            p{
                color: #204379;
            }

        }

        img{
            margin-bottom: 40px;
        }
    }

    footer{
        background-color: #E2D9D3;
        text-align: center;
        // background-color: #204379;
        // border-radius: 50px 50px 0px 0px;

        .footer_content{
            background-color: #204379;
            border-radius: 50px 50px 0px 0px;

            h3{
                font-weight: 700;
                font-size: 20px;
                color: #fff;
                line-height: 200%;
                text-align: center;
                letter-spacing: 0.2em;
    
                &:first-child{
                    padding-top: 40px;
                }
                &:last-of-type{
                    padding-bottom: 24px;
                }
            }
            img{
                margin-bottom: 40px;
            }
        }
    }
}

// 波浪特效
@keyframes waves{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-130px);
    }
}

// 船槳特效
@keyframes oar{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: rotateZ(45deg);
    }
}

// 泡泡特效
@keyframes bubble{
    0%{
        top: -10px;
        right: 70px;
    }
    25%{
        top: -30px;
        right: 72px;
    }
    50%{
        top: -40px;
        right: 75px;
    }
    75%{
        top: -50px;
        right: 70px;
    }
    100%{
        top: -60px;
        right: 75px;
    }
}

@keyframes bubble2{
    0%{
        top: -10px;
        right: 52px;
    }
    25%{
        top: -30px;
        right: 50px;
    }
    50%{
        top: -50px;
        right: 45px;
    }
    75%{
        top: -70px;
        right: 60px;
    }
    100%{
        top: -90px;
        right: 50px;
    }
}

// 煙火特效
@keyframes fireworks{
    0%{
        
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

// 烏龜特效
@keyframes turtle{
    0%{
        // left: 677px;
        // left: 700px;
        right: 0;
    }
    // 直走
    10%{
        // left: 580px;
        // left: 603px;
        right: 97px;
    }
    // 往下轉
    20%{
        transform: rotateZ(-50deg);
        top: 70px;
    }
    25%{
        transform: rotateZ(-100deg);
        top: 75px;
    }
    // 直走
    30%{
        top: 80px;
    }
    40%{
        // top: 140px;
        top: 130px;

    }
    // 往右轉
    45%{
        transform: rotateZ(-150deg);
    }
    50%{
        transform: rotateZ(-200deg);
        // left: 600px;
        // left: 623px;
        // right: 117px;
        right: 77px;

    }
    // 直走
    55%{
        // left: 650px;
        // left: 673px;
        // right: 167px;
        right: 27px;
        
    }
    60%{
        // left: 710px;
        // left: 733px;
        // right: 227px;
        right: -33px;

        
    }
    // 往上轉
    65%{
        transform: rotateZ(-250deg);
    }
    70%{
        transform: rotateZ(-300deg);
    }
    // 直走
    72%{
        top: 100px; 
    }
    75%{
        top: 80px; 
    }
    80%{
        top: 70px; 
    }
    // 往左轉
    85%{
        transform: rotateZ(-330deg);
    }
    90%{
        transform: rotateZ(-350deg);
    }
    95%{
        transform: rotateZ(-370deg);
    }
    100%{
        transform: rotateZ(-390deg);
    }
}

// 按鈕特效
@keyframes move{
    0%{ background-position: 0 0; }
    50%{ background-position: 400% 0; }
    100%{ background-position: 0 0; }
}

// 按鈕放大
@keyframes btn{
    0%{ 
        transform: scale(1);
    }

    50%{
        transform: scale(1.05);
    }

    75%{ 
        transform: scale(1.1); 
    }

    100%{
        transform: scale(1.05);
    }
}